<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-csp="" ng-app="progress">
<!--<![endif]-->

<head>

	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>AngularJS Boilerplate</title>
	<meta name="description" content="Simple AngularJS Boilerplate to kick start your new project with SASS support and Gulp watch/build tasks">

	<!-- mobile meta -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

	<!--[if IE]>
			<link rel="shortcut icon" href="favicon.ico">
		<![endif]-->
	<!-- or, set /favicon.ico for IE10 win -->
	<meta name="msapplication-TileColor" content="#f01d4f">

	<!-- CSS -->
	<!-- build:css css/style.min.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css" />
	<!-- endbuild -->

</head>

<body class="main-wrapper">
	<div data-ng-view="" class="container">
		<div class="wrapper clearfix" ng-controller="progressController">

			<h3>Progress bar value is {{dynamic}}</h3>
			<div id="progress1" ng-if="bar.type == 'progress1'">
				<h5>Progress Bar 1</h5>
				<progressbar max="max" value="dynamic">
					<span style="color:black; white-space:nowrap;" ng-model="bar.progress1">
         {{dynamic}}%
      </span>
				</progressbar>
			</div>
			<div id="progress2" ng-if="bar.type == 'progress2'">
				<h5>Progress Bar 2</h5>
				<progressbar max="max" value="dynamic">
					<span style="color:black; white-space:nowrap;" ng-model="bar.progress2">
         {{dynamic}}%
      </span>
				</progressbar>
			</div>
			<div id="progress3" ng-if="bar.type == 'progress3'">
				<h5>Progress Bar 3</h5>
				<progressbar max="max" value="dynamic" ng-if="bar.type == 'progress3'">
					<span style="color:black; white-space:nowrap;" ng-model="bar.progress3">
         {{dynamic}}%
      </span>
				</progressbar>
			</div>
			<div class="row">
			<div class="col-xs-5"><select class="form-control" name="type" ng-model="bar.type"  required>
       		<option value="" ng-show="false"></option>
            <option ng-option value="progress1" selected='selected'>Progress 1</option>
            <option ng-option value="progress2">Progress 2</option>
            <option ng-option value="progress3">Progress 3</option> 
        	 </select>
			</div>
			<div class="col-xs-1"><input class="btn btn-primary" type="button" ng-click="add10()" value="+10" /></div>
			<div class="col-xs-1"><input class="btn btn-primary" type="button" ng-click="add25()" value="+25" /></div>
			<div class="col-xs-1"><input class="btn btn-primary" type="button" ng-click="minus10()" value="-10" /></div>
			<div class="col-xs-1"><input class="btn btn-primary" type="button" ng-click="minus25()" value="-25" /></div>
			<div class="col-xs-1"><input class="btn btn-success" type="button" ng-click="reset()" value="Reset" /></div>
</div>

		</div>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/controller.js"></script>
</body>

</html>