<div class="wrapper" ng-controller="ProgressController">

    <h3>Progress bar value is {{dynamic}}</h3>
    <div id="progress1" ng-if="bar.type == 'progress1'">
        <label for="">Progress Bar 1</label>
        <progressbar max="max" value="dynamic">
            <span style="color:black; white-space:nowrap;" ng-model="bar.progress1">
         {{dynamic}}%
      </span>
        </progressbar>
    </div>
    <div id="progress2" ng-if="bar.type == 'progress2'">
        <label for="">Progress Bar 2</label>
        <progressbar max="max" value="dynamic">
            <span style="color:black; white-space:nowrap;" ng-model="bar.progress2">
         {{dynamic}}%
      </span>
        </progressbar>
    </div>
    <div id="progress3" ng-if="bar.type == 'progress3'">
        <label for="">Progress Bar 3</label>
        <progressbar max="max" value="dynamic" ng-if="bar.type == 'progress3'">
            <span style="color:black; white-space:nowrap;" ng-model="bar.progress3">
         {{dynamic}}%
      </span>
        </progressbar>
    </div>
    <select name="type" ng-model="bar.type" ng-dropdown required>
       <option value="" ng-show="false"></option>
            <option ng-option value="progress1" selected='selected'>Progress 1</option>
            <option ng-option value="progress2">Progress 2</option>
            <option ng-option value="progress3">Progress 3</option> 
         </select>
    <input type="button" ng-click="add10()" value="+10" />
    <input type="button" ng-click="add25()" value="+25" />
    <input type="button" ng-click="minus10()" value="-10" />
    <input type="button" ng-click="minus25()" value="-25" />
    <input type="button" ng-click="reset()" value="Reset" />


</div>