/******************************************************************

Grid

******************************************************************/

.wrapper {
    width: 600px;
    margin: 0 auto;
    background: #fff;
    margin-top: 40px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
.col-xs-1 {
    width: 10.333333%;
}
    .progress-bar {
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border-radius: 0px;
        font-size: 16px;
        padding: 10px;
    }
    #progress1 .progress-bar {
        background: yellow
    }
    #progress2 .progress-bar  {
        background: green
    }
    #progress3 .progress-bar {
        background: pink
    }
}